<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tution_Management"
        tools:targetApi="31">
        <activity
            android:name=".Student_Details"
            android:exported="false" />
        <activity
            android:name=".Admin_Notification"
            android:exported="false" />
        <activity
            android:name=".Course_Details"
            android:exported="false" />
        <activity
            android:name=".Admin_Logout"
            android:exported="false" />
        <activity
            android:name=".Result_Report"
            android:exported="false" />
        <activity
            android:name=".Attendance_Report"
            android:exported="false" />
        <activity
            android:name=".Report_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Add_Courses"
            android:exported="false" />
        <activity
            android:name=".Add_Student"
            android:exported="false" />
        <activity
            android:name=".Add_Teacher"
            android:exported="false" />
        <activity
            android:name=".Teachers_Details"
            android:exported="false" />
        <activity
            android:name=".Admin_Users"
            android:exported="false" />
        <activity
            android:name=".Admin_Dashboard"
            android:exported="false" />
        <activity
            android:name=".Teacher_Login"
            android:exported="false" />
        <activity
            android:name=".Student_Login"
            android:exported="false" />
        <activity
            android:name=".Admin_Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>